{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Вход
{% endblock %}

{% block content %}
<div class="mx-auto" style="width: 600px;">
	<h2>Вход</h2>

	<form method="post">
		{% csrf_token %}

		<div>{{ form.non_field_errors }}</div>

		<div class="form-row">
			{% for f in form %}
				<div class="form-group">
					<label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}
					<div class="form-error">{{ f.errors }}</div>
				</div>
			{% endfor %}
		</div>

			<button class="btn button " type="submit">Войти</button>

	</form>

</div>

{% endblock %}